*{
    font-size: 1.1 rem;
    text-align: center;
}
.conteynir {
    background-color: rgb(208, 208, 60);
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap; 
    justify-content: center;
    
    
    
}
.conteynir div {
    background-color: rgb(142, 61, 168);
     width: 5rem; 
    height: 5rem; 
    margin: 1rem; 

}
.container1{
    background-color: bisque;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    padding: 0.5rem;
    justify-content: center;
    overflow: auto;

}
.container1 div{
    height: 5rem;
    width: 5rem;
    background-color: rgb(219, 137, 22);
}

