
body {
    background-color: $bgColor;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $fontSize;
}
$fontSize:1.2rem;
$fontColor:white;
$nabBgColor:blue;
$bgColor:pink;
$bannerBgColor:hotpink;

/////////////////
header{
    background-color: $nabBgColor;
    display: flex;
    justify-content: space-between;
    img{
        width: 80px;
    }
    a{ color:$fontColor;


    }
}
